.drawing-container{
    margin: 20px;
    padding: 20px;
    height: 500px;
    width: 500px;
    background-color: rgb(85, 85, 85);

}

.drawing-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}