html {
    margin: 0px;
    height: 100%
}

body {
    min-height: 100vh;
    padding: 0;
  }

#root {
    height: 100%;
}

.box {
    background-color: white;
    min-height: 100%;
}

.web-page-content-container {
    max-width: 1260px;
    background-color: rgb(240, 240, 240);
    margin: auto;
    padding-top: 74px;
}