html, body {
    margin: 0px;
    height: 100%
}

#root {
    height: 100%;
}

.box {
    background-color: white;
    height: 100%;
}

.web-page-content-container {
    max-width: 1260px;
    background-color: rgb(240, 240, 240);
    margin: auto;
    padding-top: 50px;
}